
/*header*/
div.header {
    background-color: black;
    margin-bottom: 0px;
}


h1 {
    color: white;
    padding: 10px;
    background-color: black;
}

/*Search box*/

#inputCity {
    margin: 10px;
}

div.input-field {
    padding: 50px;
}
