
/*header*/
div.header {
    background-color: black;
    margin-bottom: 0px;
}

div.card-panel {
    color:white;
    margin: 15px;
}

button.buttonCity {
    margin: 5px;
}

h1 {
    color: white;
    padding: 5px;
    background-color: black;
}

/*Search box*/

#inputCity {
    margin: 10px;
    background-color: white;
}

div.input-field {
    padding: 50px;
}

li {
    padding-left: 10px;
}
